body{
	margin:0px auto;
	background-image:url(../photos/LR_BG.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
#login{
	margin-top: 100px;
}
#register{
	margin-top: 50px;
}
p a{
	text-decoration:none;
}
p a:hover{
	text-decoration:none;
}